<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="HrTrackEntities" connectionString="metadata=res://*/HrTrackEntities.csdl|res://*/HrTrackEntities.ssdl|res://*/HrTrackEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=197.85.187.9\SQLEXPRESS2014;initial catalog=StaffDB;persist security info=True;user id=sa;password=740513;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true" />
      </webHttpEndpoint>
    </standardEndpoints>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttp" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" openTimeout="00:03:00" closeTimeout="00:03:00" sendTimeout="00:03:00" receiveTimeout="00:03:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="WebHttpBinding_REST" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" openTimeout="00:03:00" closeTimeout="00:03:00" sendTimeout="00:03:00" receiveTimeout="00:03:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="myBehavior"></behavior>
        <behavior name="webBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="SimpleGetBehavior">
          <serviceMetadata httpGetEnabled="True" policyVersion="Policy15"></serviceMetadata>
          <serviceDebug includeExceptionDetailInFaults="True" />
          <serviceThrottling
                     maxConcurrentCalls="4"
                     maxConcurrentInstances="4"
                     maxConcurrentSessions="4"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <!-- HrTrack Service -->
      <service name="HrTrackService.HrTrackService.HrTrackService" behaviorConfiguration="SimpleGetBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/HrTrackService" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="WebHttpBinding_REST" behaviorConfiguration="webBehavior" contract="HrTrackServiceContracts.HrTrackService.IHrTrackServicee" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
      <!-- HrTrack Service -->
    </services>
  </system.serviceModel>
</configuration>